name: (TESTS) - testing all PRs
on:
  push:
  pull_request:
    branches: [ main, dev ]
    types: [ opened ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    env:      
      COGNITO_USER_POOL_ID: "us-west-2_iq4sQovhE"

    steps:
    - uses: actions/checkout@v1    
    - name: Say test
      run: |
        echo "HELLO!"        